<div class="container mt-4" ng-controller="trabajoCtrl">
    <h2>Registros de dinero ahorrado del trabajo</h2>
</div>

<div class="alert alert-info">
    Total Ahorrado: <strong>{{totalAhorro | currency:"$":0}}</strong>
</div>

<form name="formAhorro" ng-submit="guardarAhorro()" novalidate>
    <div class="form-group">
        <label>Cantidad a ahorrar</label>
        <input placeholder="Ej: 5000" class="form-control" ng-model="ahorro.cantidad" required>
    </div>

    <div class="form-group">
        <label>Fecha de deposito</label>
        <input type="date" placeholder="Fecha" class="form-control" ng-model="ahorro.fecha" required>
    </div>

    <div class="form-group">
        <label>Ubicacion del dinero</label>
        <select class="form-control" ng-model="ahorro.ubicacion" ng-change="onUbicacionChange()">
            <option value="nu">Nu</option>
            <option value="efectivo">Efectivo</option>
            <option value="otro">Otro</option>
        </select>
    </div>

    <div class="form-group" ng-show="mostrarNombreCajita">
        <label>Seleccionar cajita</label>
        <select class="form-control" ng-model="ahorro.cajita_id" ng-options="c.id as c.nombre for c in cajitasNu">
        <option value="">-- Selecciona una cajita --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success mt-3" ng-disabled="formAhorro.$invalid">
        Guardar
    </button>

    <a ui-sref="gastos({ tipo: 'trabajo' })" class="btn btn-warning mt-3">
        Gastos
    </a>



    <div class="mt-3" ng-if="mensaje">
        <div>{{mensaje.text}}</div>
    </div>
</form>

<table class="table table-striped mt-4" ng-if="trabajos.length > 0">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Ubicacion</th>
            <th>Nombre Cajita</th>
        </tr>
    </thead>

    <tbody ng-repeat="item in trabajos">
        <td>{{item.cantidad}}</td>
        <td>{{item.fecha}}</td>
        <td>{{item.ubicacion}}</td>
        <td>{{ item.nu.nombre || '-' }}</td>
    </tbody>
</table>